USE [master]
GO
/****** Object:  Database [ZeroHungerDB]    Script Date: 25-Aug-26 9:24:31 AM ******/
CREATE DATABASE [ZeroHungerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZeroHungerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZeroHungerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZeroHungerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZeroHungerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZeroHungerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZeroHungerDB]
GO
/****** Object:  Table [dbo].[CollectRequests]    Script Date: 25-Aug-26 9:24:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FoodDescription] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[MaxPreservationTime] [datetime] NOT NULL,
	[Status] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[RestaurantId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[CompletedAt] [datetime] NULL,
 CONSTRAINT [PK_CollectRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 25-Aug-26 9:24:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resturants]    Script Date: 25-Aug-26 9:24:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resturants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Resturants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CollectRequests] ON 

INSERT [dbo].[CollectRequests] ([Id], [FoodDescription], [Quantity], [MaxPreservationTime], [Status], [CreatedAt], [RestaurantId], [EmployeeId], [CompletedAt]) VALUES (1, N'50 boxes of Biryani', 50, CAST(N'2026-08-22T10:00:00.000' AS DateTime), N'Completed', CAST(N'2026-08-21T12:35:22.387' AS DateTime), 1, 2, CAST(N'2026-08-24T17:21:39.040' AS DateTime))
INSERT [dbo].[CollectRequests] ([Id], [FoodDescription], [Quantity], [MaxPreservationTime], [Status], [CreatedAt], [RestaurantId], [EmployeeId], [CompletedAt]) VALUES (2, N'Leftover biryani and roast from corporate event', 50, CAST(N'2026-08-25T22:00:00.000' AS DateTime), N'Completed', CAST(N'2026-08-24T17:16:39.257' AS DateTime), 1, 1, CAST(N'2026-08-24T17:19:49.930' AS DateTime))
INSERT [dbo].[CollectRequests] ([Id], [FoodDescription], [Quantity], [MaxPreservationTime], [Status], [CreatedAt], [RestaurantId], [EmployeeId], [CompletedAt]) VALUES (3, N'50 boxes of leftover biryani', 50, CAST(N'2026-08-26T22:00:00.000' AS DateTime), N'Completed', CAST(N'2026-08-25T04:25:01.750' AS DateTime), 6, 2, CAST(N'2026-08-25T04:56:42.053' AS DateTime))
SET IDENTITY_INSERT [dbo].[CollectRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Phone]) VALUES (1, N'Siyam', N'01631121097')
INSERT [dbo].[Employees] ([Id], [Name], [Phone]) VALUES (2, N'Soyaib', N'01631121097')
INSERT [dbo].[Employees] ([Id], [Name], [Phone]) VALUES (3, N'Safi', N'01631121097')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Resturants] ON 

INSERT [dbo].[Resturants] ([Id], [Name], [Address], [Phone]) VALUES (1, N'PizzaBurgaaa', N'Mirpur', N'01631121097')
INSERT [dbo].[Resturants] ([Id], [Name], [Address], [Phone]) VALUES (3, N'BurgerLab', N'Mirpur', N'01631121097')
INSERT [dbo].[Resturants] ([Id], [Name], [Address], [Phone]) VALUES (4, N'Coffehouse', N'Mirpur', N'01631121097')
SET IDENTITY_INSERT [dbo].[Resturants] OFF
GO
ALTER TABLE [dbo].[CollectRequests]  WITH CHECK ADD  CONSTRAINT [FK_CollectRequests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[CollectRequests] CHECK CONSTRAINT [FK_CollectRequests_Employees]
GO
ALTER TABLE [dbo].[CollectRequests]  WITH CHECK ADD  CONSTRAINT [FK_CollectRequests_Resturants] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Resturants] ([Id])
GO
ALTER TABLE [dbo].[CollectRequests] CHECK CONSTRAINT [FK_CollectRequests_Resturants]
GO
USE [master]
GO
